:root {
  --stren: #DD6749;
  --endu: #DD8849;
  --stab: #DDA949;
  --rest: #427CC0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin sans";
}

a:-webkit-any-link{
    text-decoration:none !important;
    color: #fff;

}

.container{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.legend{
    width: 32%;
    height: 170px;
    background-color: #B6B6B6;
    margin-top: -110px;
    margin-left: 68%;
    border-radius: 0 0 0 27px  ;
    box-shadow: 0px 0px 5px 2px rgba(55, 0, 0, 1);
    padding-top: 40px;
    padding-left: 180px;
}
.legend2 {
    width: 100%;
    height: 130px;
    background-color: #fff;
    margin-top: -488px;
    box-shadow: 0px 0px 15px 1px rgba(55, 0, 0, 0.8);
    padding-top: 40px;
    padding-left: 15px;    
}
.leglabel {
    font-size: 30px;
    font-weight: 800; 
    color: black;
    height: 2rem;
    width: 14rem;
    border-radius: 6px;    
    text-align: center;
    padding-top: 0.6rem;
    margin-top: 0px;
    cursor: context-menu;      
}


.styleleg{
    width: 100%;
    height: 2rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    margin-left: 0%;
    margin-top: 18px;
}

.styleleg div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4%;
    
}


.strenleg {
    background-color: #fff;
    border: solid;
    border-color: var(--stren);
    border-right-width: 15px;
    color: black;   
    font-size: 18px;
    padding-top: 3px;
    font-weight: normal;
    height: 2rem;
    width: 4.4rem;
    border-radius: 6px;    
    text-align: center;
    width: 13%;
    cursor: context-menu;      
}
.enduleg {
    background-color: #fff;
    border: solid;
    border-color: var(--endu);
    border-right-width: 15px;
    color: black;       
    font-size: 18px;
    padding-top: 3px;
    font-weight: normal;  
    height: 2rem;
    width: 5.2rem;
    border-radius: 6px;    
    text-align: center;
    width: 15%;
    cursor: context-menu;      
}
.stableg {
    background-color: #fff;
    border: solid;
    border-color: var(--stab);
    border-right-width: 15px;
    color: black;      
    font-size: 18px;
    padding-top: 3px;
    font-weight: normal;  
    height: 2rem;
    width: 5.8rem;
    border-radius: 6px;    
    text-align: center;
    width: 17%;
    cursor: context-menu;      
}

.restleg {
    background-color: #fff;
    border: solid;
    border-color: var(--rest);
    border-right-width: 15px;
    color: black;     
    font-size: 18px;
    padding-top: 3px;
    font-weight: normal;     
    height: 2rem;
    width: 3.3rem;
    border-radius: 6px;    
    text-align: center;
    width: 8.5%;
    cursor: context-menu;      
}


.logo {
    margin-left: -190px;
    margin-top: -168px;
}

.user {
    color: #fff;
    margin-top:  -17px;    
    margin-left: -45px;
    border-radius: 20px;
    height: 25px;
    width:auto;
    padding-top: 4px;
    font-size: 20px;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    border-style: none;
    cursor: context-menu;      
}


.button {
    color: black;
    background-color: #F7B36F;
    border: solid !important;
    border-color: #DD6749 !important;     
    margin-bottom:  20px;
    margin-top:  72px;    
    margin-left: -45px;
    border-radius: 20px;
    height: 40px;
    width: 111px;
    padding-top: 3px;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    border-style: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;      
}
.calendar{
    width: 100%;
    height: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 15px 3px rgba(55, 0, 0, 1);

}

.month{
    width: 100%;
    height: 11rem;
    background-color: #B6B6B6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);  
}


.title{
    font-size: 3rem;
    font-weight: 300;
    cursor: context-menu;      
}

.prev{
    font-size: 3rem;
    font-weight: bolder;
}
.next{
    font-size: 3rem;
    font-weight: bolder;    
}

.weekdays{
    width: 100%;
    height: 3rem;
    background-color: black;
    padding: 0.6rem;
    padding-top: 0.9rem;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    cursor: context-menu;      
}

.weekdays div{
    font-size: 2rem;
    width:calc(100%/7);
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
.day{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;

    text-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.5);       
}

.day div{
    font-size: 3rem;
    width:calc(100%/7);
    margin-top: 36px;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.off {
    background-color: #C6C6C6;
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 7.4%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: context-menu;    
}
.Today_stren {
    background-color: var(--stren);
    border: solid;
    border-color: #2ABF2A;
    border-width: 5px;    
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 4.1%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.Today_endu {
    background-color: var(--endu);
    border: solid;
    border-color: #2ABF2A;
    border-width: 5px;    
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 4.1%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.Today_stab {
    background-color: var(--stab);
    border: solid;
    border-color: #2ABF2A;
    border-width: 5px;    
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 4.1%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.Today_rest {
    background-color: var(--rest);
    border: solid;
    border-color: #2ABF2A;
    border-width: 5px;
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 4.1%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: context-menu;      
}
.stren {
    background-color: var(--stren);
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 7.4%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.stab {
    background-color: var(--stab);
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 7.4%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);    
}
.rest {
    background-color: var(--rest);
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 7.4%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: context-menu;      
}

.endu { 
    background-color: var(--endu);
    height: 72px;
    width: 105px;
    border-radius: 6px;    
    text-align: center;
    padding-top: 7.4%;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);   
}
