*{
    margin: 0;
    box-sizing: border-box;
    font-family: "josefin sans";
}

    

.container{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.backtocalendar {

    background-color: #F7B36F;
    border: solid;
    border-color: #DD6749;   
    margin-top:  79px;    
    margin-left: -45px;
    border-radius: 20px;
    height: 40px;
    width: 96px;
    padding-top: 8px;
    font-size: 14px;
    padding-left: 18px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);     
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
}
.backtocalendar2 {

    background-color: #F7B36F;
    border: solid;
    border-color: #DD6749;   
    margin-top:  -85px;    
    margin-left: -45px;
    border-radius: 20px;
    height: 40px;
    width: 109px;
    padding-top: 8px;
    font-size: 14px;
    padding-left: 18px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);     
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
}
.backtocalendar3 {

    background-color: #F7B36F;
    border: solid;
    border-color: #DD6749;   
    margin-top:  -85px;    
    margin-left: -45px;
    border-radius: 20px;
    height: 40px;
    width: 129px;
    padding-top: 8px;
    font-size: 14px;
    padding-left: 18px;

    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);     
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
}
a:-webkit-any-link {
    color: black;
    text-decoration: none;
    font-weight: 600;    
}    
.legend{
    width: 32%;
    height: 170px;
    background-color: #B6B6B6;
    margin-top: -110px;
    margin-left: 68%;
    border-radius: 0 0 0 27px  ;
    box-shadow: 0px 0px 5px 2px rgba(55, 0, 0, 1);
    padding-top: 40px;
    padding-left: 180px;
}
.legend2 {
    width: 100%;
    height: 130px;
    background-color: #fff;
    margin-top: -1232px;
    box-shadow: 0px 0px 15px 1px rgba(55, 0, 0, 0.8);
    padding-top: 40px;
    padding-left: 15px;    
}

.logo {
    margin-left: -190px;
    margin-top: -107px;     
}

.fond {
    margin-left: -49%;
    margin-top: -15%;     
}



