*{
    margin: 0;
    box-sizing: border-box;
    font-family: "josefin sans";
}

    

.container{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.signup{
    width: 35rem;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px 3px rgba(55, 0, 0, 1);
    border-radius: 7px;
    padding-bottom: 18px;
    margin-top:220px;
}
a:-webkit-any-link {
    color: #427CC0;
    font-size: 22px;

}

.login{
    width: 8.2rem;
    height: auto;
    border-radius: 7px;
    margin-left: 330px;
    padding-left: 10px;
    padding-top: 3px;      
}
.title{
    width: 100%;
    height: 7rem;
    color: #fff;
    background-color: #DD6749;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    padding: 5px 143px;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(55, 0, 0, 1);    
    
}
.helptext{
    font-size: 15px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom:  60px;

}
form {
    margin: 30px;
    justify-content: center;
    align-items: center;    
    
}
input {
    height: 40px;
    width: 250px;
    margin-top: 100px;
    font: 400 22px josefin sans; 
}

input[type="text" i] {
    padding: 1px 2px;
    margin-top: 30px;
    margin-left: 55px;
    font: 400 22px josefin sans;   
}

input[type="password" i] {
    padding: 1px 2px;
    margin-top: 30px;
    margin-left: 55px;
    font: 400 22px josefin sans;        
}

input[type="submit" i] {
    background-color: #DD6749;
    color: black;    
    border-radius: 10px;
    align-items: center;
    width: 200px;
    height: 44px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-top: 70px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;      
}

input[type="text" i] {
    padding: 1px 2px;
    margin-top: 20px;     
}
label {
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom:  40px;
    font-size: 25px;
}
ul.list{
    list-style-type: none;
    text-align: center;
    font-family: "josefin sans";
    align-items: center;
}

ul.list li{
    width: 150px;
    margin-bottom: 15px;
}

ul.list li input{
    width: 250px;
    text-align: center;
    padding: 8px 0px;
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
}

ul.list li input[type="button"]{
    height: 25px;
    width: 90px;
    background-color: #FF5A00;
    color: #fff;
}
.legend{
    width: 32%;
    height: 170px;
    background-color: #B6B6B6;
    margin-top: -110px;
    margin-left: 68%;
    border-radius: 0 0 0 27px  ;
    box-shadow: 0px 0px 5px 2px rgba(55, 0, 0, 1);
    padding-top: 40px;
    padding-left: 180px;
}
.legend2 {
    width: 100%;
    height: 130px;
    background-color: #fff;
    margin-top: -1232px;
    box-shadow: 0px 0px 15px 1px rgba(55, 0, 0, 0.8);
    padding-top: 40px;
    padding-left: 15px;    
}

.logo {
    margin-left: -190px;
    margin-top: -28px;      
}


