:root {
  --stren: #DD6749;
  --endu: #DD8849;
  --stab: #DDA949;
  --rest: #427CC0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "josefin sans";
}

.container{
    width: 100%;
    height: 1200px;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;


    
}


.dailyplan {

    width: 100%;
    margin-top: 160px;
    height: auto;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 15px 3px rgba(55, 0, 0, 1);
    padding-bottom: 18px;

}
    
.strength {

    justify-content: space-between;
    color: #fff;
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: var(--stren);
    padding: 32px 30px;
    font-size: 20px;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: context-menu;      
}

.endurance {

    justify-content: space-between;
    color: #fff;    
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: var(--endu);
    padding: 32px 30px;
    font-size: 20px;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: context-menu;      
}

.stabilisation {

    justify-content: space-between;
    color: #fff;    
    width: 100%;
    text-align: center;
    height: 100px;
    background-color: var(--stab);
    border-radius: 7px 7px 0 0;
    padding: 32px 30px;
    font-size: 20px;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    cursor: context-menu;      
}

a:-webkit-any-link {
    color: black;
    text-decoration: none;
    font-weight: 600;    
}    


.stab {

    background-color: #DEDEDE;
    border: solid;
    border-color: var(--stab);
    border-right-width: 15px;
    border-radius: 7px;
    margin-left: 10%;
    margin-bottom:  20px;
    margin-top:  15px;    
    width: 80%;
    height: 35px;
    padding: 5px;    
    font-size: 13px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);     
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
}
.stren {

    background-color: #DEDEDE;
    border: solid;
    border-color: var(--stren);
    border-right-width: 15px;
    border-radius: 7px;
    margin-left: 10%;
    margin-bottom:  20px;
    margin-top:  15px;    
    width: 80%;
    height: 35px;
    padding: 5px;    
    font-size: 13px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);    
}

.endu {

    background-color: #DEDEDE;
    border: solid;
    border-color: var(--endu);
    border-right-width: 15px;
    border-radius: 7px;
    margin-left: 10%;
    margin-bottom:  20px;
    margin-top:  15px;    
    width: 80%;
    height: 35px;
    padding: 5px;
    font-size: 13px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);    
}
.rest {

    background-color: #DEDEDE;
    border: solid;
    border-color: var(--rest);
    border-right-width: 15px;
    border-radius: 7px;
    margin-left: 10%;
    margin-bottom:  20px;
    margin-top:  15px;    
    width: 80%;
    height: 35px;
    padding: 5px;
    font-size: 13px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    cursor: context-menu;    
    color: #fff;

}
h2 {
    font-weight: 600;  
}

.legend{
    width: 32%;
    height: 125px;
    background-color: #B6B6B6;
    margin-top: -110px;
    margin-left: 68%;
    border-radius: 0 0 0 15px  ;
    box-shadow: 0px 0px 5px 2px rgba(55, 0, 0, 1);
    padding-top: 40px;
    padding-left: 180px;
}
.legend2 {
    width: 100%;
    height: 110px;
    background-color: #fff;
    margin-top: -1232px;
    box-shadow: 0px 0px 15px 1px rgba(55, 0, 0, 0.8);
    padding-top: 40px;
    padding-left: 15px;    
}
.leglabel {
    font-size: medium;
    font-weight: 800; 
    color: black;
    height: 2rem;
    width: 6.8rem;
    border-radius: 6px;    
    text-align: center;
    padding-top: 0.6rem;
    margin-top: 0px;
    cursor: context-menu;      
}


.styleleg{
    width: 100%;
    height: 2rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    margin-left: 0%;
    margin-top: 0;
}

.styleleg div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4%;
    
}


.strenleg {
    background-color: #fff;
    border: solid;
    border-color: var(--stren);
    border-right-width: 15px;
    color: black;   
    font-size: 12px;
    font-weight: normal;
    height: 2rem;
    width: 4.4rem;
    border-radius: 6px;    
    text-align: center;
    width: 13%;
    cursor: context-menu;      
}
.enduleg {
    background-color: #fff;
    border: solid;
    border-color: var(--endu);
    border-right-width: 15px;
    color: black;       
    font-size: 12px;
    font-weight: normal;  
    height: 2rem;
    width: 5.2rem;
    border-radius: 6px;    
    text-align: center;
    width: 15%;
    cursor: context-menu;      
}
.stableg {
    background-color: #fff;
    border: solid;
    border-color: var(--stab);
    border-right-width: 15px;
    color: black;      
    font-size: 12px;
    font-weight: normal;  
    height: 2rem;
    width: 5.8rem;
    border-radius: 6px;    
    text-align: center;
    width: 17%;
    cursor: context-menu;      
}

.restleg {
    background-color: #fff;
    border: solid;
    border-color: var(--rest);
    border-right-width: 15px;
    color: black;     
    font-size: 12px;
    font-weight: normal;     
    height: 2rem;
    width: 3.3rem;
    border-radius: 6px;    
    text-align: center;
    width: 8.5%;
    cursor: context-menu;      
}


.logo {
    margin-left: -187px;
    margin-top: -90px;    
}

.user {
    color: #fff;
    margin-top:  -2px;    
    margin-left: -95px;
    margin-right: 170px;
    border-radius: 20px;
    height: 25px;
    width: 70px;
    padding-top: 4px;
    font-size: 12px;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    border-style: none;
    cursor: context-menu;      
}
.backtocalendar {

    background-color: #F7B36F;
    border: solid;
    border-color: #DD6749;   
    width: 90px;
    margin-top: 29px;
    margin-left: -95px;
    border-radius: 20px;
    height: 27px;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 11px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);     
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
}